   <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What is ChatSecure?</h2>
                    <p class="lead">ChatSecure is a free and open source messaging app that features <a href="https://en.wikipedia.org/wiki/OMEMO">OMEMO encryption</a> and <a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging">OTR encryption</a> over <a href="https://en.wikipedia.org/wiki/XMPP">XMPP</a>. You can connect to your existing Google accounts or create new accounts on <a href="https://xmpp.net/directory.php">public XMPP servers</a> (including via <a href="https://en.wikipedia.org/wiki/Tor_(anonymity_network)">Tor</a>), or even <a href="http://arstechnica.com/information-technology/2014/03/how-to-set-up-your-own-private-instant-messaging-server/">connect to your own server</a> for extra security.</p>
                    <p class="lead">Unlike other apps that keep you stuck in their walled garden, ChatSecure is fully interoperable with other clients that support OMEMO or OTR and XMPP, such as <a href="https://conversations.im">Conversations</a> (Android), <a href="https://coy.im">CoyIM</a> (Desktop), and <a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging#Client_support">more.</a></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/accounts.png" alt="iOS Screenshot">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Strong Cryptography</h2>
                    <p class="lead">ChatSecure only uses well-known open source cryptographic libraries to keep your conversations private. Other apps may make claims about "military grade" security but, without publicly auditable source code and verifiable end-to-end encryption, you cannot be truly safe.</p>
                    <ul class="features-list">
                        <li>XMPP with <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security#Certificate_pinning">TLS certificate pinning.</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging">OTR</a> for verifiable <a href="https://en.wikipedia.org/wiki/End-to-end_encryption">end-to-end encryption</a> and <a href="https://en.wikipedia.org/wiki/Forward_secrecy">forward secrecy</a>.</li>
                        <li><a href="https://en.wikipedia.org/wiki/OMEMO">OMEMO</a> for a mobile-friendly alternative to OTR.</li>
                        <li><a href="https://en.wikipedia.org/wiki/Tor_(anonymity_network)">Tor</a> to help bypass restrictive firewalls.</li>
                        <li><a href="https://www.zetetic.net/sqlcipher/design/">SQLCipher</a> to locally encrypt conversation logs.</li>
                    <ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/chat.png" alt="Chat view screenshot">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Free and Open Source</h2>
                    <p class="lead">We believe in the power of free and open source software. The full source code to the <a href="https://github.com/chrisballinger/ChatSecure-iOS">iOS</a> app is available on GitHub.<br><br>Want to get involved? Feel free to send us a pull request!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/github-octocat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Help us improve ChatSecure:</h2>
                </div>
                <div class="col-lg-6">
                    {% include frontpage/social_buttons.html list_class="banner-social-buttons" %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; <a href="http://chrisballinger.info">Chris Ballinger</a> 2014. <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.<br>
                    Header image by <a href="https://www.flickr.com/photos/wwarby/9638549539/in/photostream/">William Warby</a>. Template from <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
