&copy; {{ site.time | date: "%Y" }} ChatSecure
        
<nav>
    <a href="/about">About</a> &middot;
    <a href="/blog">Blog</a> &middot;
    <a href="/faq">FAQ</a> &middot;
    <a href="/support">Support</a> &middot;
    <a href="/privacy">Privacy</a> &middot;
    <a href="/contribute">Contribute</a>
</nav>

<nav class="social">
    {% if site.inc.twitter %}
    <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
    {% endif %}
    {% if site.inc.facebook %}
    <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
    {% endif %}    
    <a href="/feed.xml" title="RSS Feed">
        <i class="icon icon-rss black"></i>
    </a>
</nav>
